.content {
    padding: 70px 15px;
    text-align: center;
}

article{
    margin-bottom:40px;
}
.post-image {
    margin-bottom:20px;
}
.post-image img{
    width: auto;
    max-width: 1110px;
}
ul.meta-post{
    float:left;
    margin: 0;
    padding:0;
    list-style:none;
    color: #999;
}

ul.meta-post li{
    float:left;
    margin:0 10px 0 0;
    padding:0;
    list-style:none;
    border-right:1px dotted #e9e9e9;
    padding-right:10px;
}

ul.meta-post li i {
    float:left;
    font-size:14px;
    margin:2px 5px 0 0;
}

ul.meta-post li a{
    color:#999;
    float:left;
    font-size:12px;
    font-weight:600;
}
.links{
    color: #999;
    text-decoration: none;
}
.links:hover{
    color: #999;
    text-decoration: none;
}
.actions a{
    color: #999;
    text-decoration: none;
    float: left;
}
#btn{
    margin: 10px;
}
